{% extends 'main/layout.html' %}

{% block title %}Введение{% endblock %}

{% block content %}
<div class ="panel-body">
    <h1>Введение</h1>
    <p>Роллер рэйсер — мобильный робот, состоящий из двух соединенных между собой (с помощью цилиндрического шарнира) платформ, которые могут вращаться в горизонтальной плоскости относительно друг друга. Каждая платформа имеет жестко закрепленную колесную пару, состоящую из двух колес, лежащих на одной оси. Продвижение роллер рэйсера вперед возможно за счет периодических колебаний платформ относительно друг друга.</p>

    <p>На рис. <a href="{% url 'gg' %}"><button class="btn-outline-info">1</button></a>,  <a href="{% url 'obraz' %}"><button class="btn-outline-info">2</button></a> представлены 3D модель и фото натурного образца роллер рэйсера, созданного в лаборатории Нелинейного анализа и конструирования новых средств передвижения УдГУ. Особенностью данной модели является возможность изменения массо-геометрических характеристик системы за счет изменения количества грузов в специальных стаканчиках, расположенных на одной из платформ.</p>
    <p>В данной работе мы численно исследуем движение роллер рэйсера в зависимости от массо-геометрических параметров системы и при различных периодических управляющих функциях φ(t). В частности, определяем оптимальные параметры, при которых роллер рэйсер движется с наибольшей средней скоростью движения вдоль прямой или окружности.</p>

    <br>
    <p>В работе <a href="{% url 'pred' %}"><i class="fa-solid fa-book"></i>[1]</a> рассмотрена задача о движении роллер рэйсера, в которой угол φ(t) между платформами является заданной периодической функцией времени. Получены уравнения движения для достаточно общего распределения масс тележек. Доказано, что в общем случае при наличии сил вязкого трения в точке контакта колес с плоскостью постоянное ускорение отсутствует и все траектории редуцированной системы асимптотически стремятся к периодическому решению. Показано, что в отсутствии трения величина поступательной скорости роллер рэйсера неограниченно (линейно) растет.</p>
    <p>В работе <a href="{% url 'pred' %}"><i class="fa-solid fa-book"></i>[2]</a> предполагается, что каждая из двух платформ дополнительно имеет ротор, угловая скорость которого является заданной периодической функцией времени. Показано, что в этом случае можно добиться ускорения, при котором скорость системы возрастает как t^(1/3), и устройство движется по полосе, ограниченной двумя прямыми.</p>
    <a href="{% url 'gg' %}"><button class="btn btn-success">Рис.1. Фотография 3D модели</button></a>
    <a href="{% url 'obraz' %}"><button class="btn btn-warning">Рис.2. Фото натурного образца</button></a>
</div>
{% endblock %}
