{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class ="features">
    <p>МИНИСТЕРСТВО НАУКИ И ВЫСШЕГО ОБРАЗОВАНИЯ РОССИЙСКОЙ ФЕДЕРАЦИИ</p>
    <p>Федеральное государственное бюджетное образовательное учреждение высшего образования</p>
    <p>“УДМУРТСКИЙ ГОСУДАРСТВЕННЫЙ УНИВЕРСИТЕТ”</p>
    <p>Институт математики, информационных технологий и физики Кафедра теоретической и экспериментальной физики</p>
    <span>Курсовая работа</span>
    <h1>"ИССЛЕДОВАНИЕ УПРАВЛЯЕМОГО ДВИЖЕНИЯ РОЛЛЕР РЭЙСЕРА"</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <article>Выполнил: студент группы ОБ-03.03.01.01-31 В. А. КРАСНОВА</article>
    <article>Научный руководитель: кандидат физико-математических наук,</article>
    <article>доцент кафедры теоретической и экспериментальной физики</article>
    <article>Т. Б. ИВАНОВА</article>
    <br>
    <br>
    <br>
    <br>
    Ижевск -- 2024 год
</div>
{% endblock %}
