{% extends 'main/layout.html' %}

{% block title %}Постановка задачи{% endblock %}

{% block content %}
<div class ="features">
    <h3>Постановка задачи</h3>
    <p>В данной работе мы рассматриваем управляемое движение роллер-рэйсера.
Движение роллер рэйсера реализуется за счет  смещения платформ
относительно друг друга и определяется углом φ(t).</p>
    <section>Будем исследовать систему в учетом следующих допущений:</section><br>
    <section>– Центры масс каждой платформы находятся на их осях симметрии и две главные оси инерции лежат в плоскости, параллельной плоскости качения системы.</section>
    <section>– Угол φ(t) между платформами является заданной периодической функцией времени.</section>
    <section>– В точках контакта колес с плоскостью отсутствует проскальзывание.</section>
    <section>– В точках контакта колес с плоскостью действуют силы вязкого трения, задаваемые квадратичной функцией Рэлея.</section><br>
    <section>Целью работы является теоретическое и экспериментальное исследование управляемого движения роллер рэйсера.</section><br>
    <section>В частности:</section>
       <p> 1. исследование динамики движения (вывод и анализ уравнений движения);</p>
       <p> 2. анализ системы в зависимости от вида управления: изучение возможных траекторий движения роллер рэйсера при различных параметрах управляющей функции, анализ эффективности управления роллер рэйсера, поиск параметров управляющей функции при периодическом движении системы;</p>
       <p> 3. экспериментальное исследование движения роллер рэйсера вдоль прямой и по окружности для натурного образца, представленного на рис. <a href="{% url 'obraz' %}"><button class="btn-outline-info">2</button></a>, в зависимости от массо-геометрических характеристик. </p><br>
       <section>  Задачей исследования является определение массо-геометрических параметров и параметров управляющей функции, при которых средняя скорость движения вдоль прямой и окружности будет оптимальной (максимальной). А также определение параметров управляющей функции, при которых движение вдоль окружности будет периодическим.</section>
</div>
{% endblock %}